body, html {
  height:100%;
  background-color:#f7e384;
  margin: 0;
}

.quizText {
  margin:30px auto;
  width:500px;
  padding: 30px;
  font-size:20px;
  font-family:"Lato",sans-serif;
  font-weight:600;
  line-height:1.8em;
  color:#666;
  background-color:#73d2ce;
}

.quizText h1 {
  margin-top: 0;
}

#after_submit {
  visibility: hidden;
  font-size:20px;
  font-family:"Lato",sans-serif;
  font-weight:600;
  line-height:1.0em;
  color:#666;
  margin:0 auto;
  width:500px;
}

.answerLayout {
  position:absolute;
  bottom:-1750px;
  left:100px;
  width:200px;
  height:80px;
}

#button {
  width:200px;
  height:80px;
  font-size:20px;
  color:#ffffff;
  background-color:#73d2ce;
  border: 0;
  margin: 0 auto 30px;
  display: block;
}
